.logdata_table {width:90%; font-size: 9px; margin: 0 auto 1em; text-align:center; border:1px solid #CCC}
.logdata_table th {background-color: #A2C5D8; padding: 3px}
.logdata_table td {padding: 3px;background-color: #CBD5DC}
.logdata_table .even_row {background-color: #CBD5DC}
.logdata_table tbody tr:hover {background-color: #FFC}
.logdata_table tfoot {border:1px solid #CCC}
tr.bkc_middle td {
    background-color: #aaa;
}
.container {width:1000px; margin: 0 auto; position: relative; top:0px; left:0px;}