body {font: 13px arial sans-serif; margin:0; padding:0; text-align:center}
ul {list-style: none; margin-left: 0; padding-left: 0}
li {margin: 0; padding: 0.5em;/*  font-size:15px */}

.container {width:1000px; margin: 0 auto; position: relative}
/* .wrapper {position:relative; min-height:200px} */
.main {margin: 1em auto; width:950px }
.right_panel {width:800px; margin-left: 150px; padding: 1em 25px }
.sidebar{width: 150px; float:left}
.pagination {margin: 1em 0}
.header {height:95px; background: none repeat scroll 0 0 MediumVioletRed; position:relative}
.header h1 {color: #FFF; font-size: xx-large; padding: 0.5em 0; margin: 0 1em; text-align: left}
.menu_bar {position:absolute; top:70px; left:0; width:100%; background-color:#FC3; text-align:left}
.menu_bar a {height:25px; text-align:center; text-decoration:none; line-height:25px; padding:0 5px}
.footer {clear:both}

.login_form {width:250px; margin:3em auto}

.nav_tabs {border: 1px solid #00F; height:25px; width:100%}
.nav_tabs div {float:left; margin:0; padding:0; text-align:center; width:50%}
.nav_tabs div a {display:block; font-weight:bold; color:#039; height:25px; text-decoration:none; line-height:25px; text-align:center}
.nav_tabs div a.active {background-color:#06C; color:#FFF}
.nav_tabs div a.hover {background-color:#039; color:#930}
.nav_tabs div a.current {background-color:#00C; color:#FFF}


.approve_table {width: 95%; font-size: 11px; margin: 0 auto 1em; text-align:center; border:1px solid #CCC}
.approve_table th {background-color: #A2C5D8; padding: 3px}
.approve_table td {padding: 3px;background-color: #CBD5DC}
.approve_table .break {word-break:break-all;}
.approve_table .even {background-color: #CBD5DC}
.approve_table .odd {background-color: #CBD5DC}
.approve_table tbody tr:hover {background-color: #FFC}
.dapprove_table tfoot {border:1px solid #CCC}
tr.bkc_middle td {
    background-color: #aaa;
}
.data_table {width: 95%; font-size: 13px; margin: 0 auto 1em;text-align:center; border:1px solid #CCC}
.data_table th {background-color: #A2C5D8; padding: 3px}
.data_table td {padding: 3px;background-color: #CBD5DC}
.data_table .even_row {background-color: #CBD5DC}
.data_table tbody tr:hover {background-color: #FFC}
.data_table tfoot {border:1px solid #CCC}
tr.bkc_middle td {
    background-color: #aaa;
}
.data_tablejobs {width: 95%; font-size: 12px; margin: 0 auto 1em; text-align:center; border:1px solid #CCC}
.data_tablejobs th {background-color: #A2C5D8; padding: 3px}
.data_tablejobs td {padding: 3px;background-color: #CBD5DC}
.data_tablejobs .even_row {background-color: #CBD5DC}
.data_tablejobs tbody tr:hover {background-color: #FFC}
.data_tablejobs tfoot {border:1px solid #CCC}
tr.bkc_middle td {
    background-color: #aaa;
}
.data_tabletest {width: 95%; font-size: 13px; margin: 0 auto 1em; text-align:center}
.data_tabletest th {background-color: #A2C5D8; padding: 3px}
.data_tabletest td {padding: 3px;background-color: #CBD5DC}
.data_tabletest .even_row {background-color: #CBD5DC}
.data_tabletest tbody tr:hover {background-color: #FFC}
.data_tabletest tfoot {border:1px solid #CCC}
tr.bkc_middle td {
    background-color: #aaa;
}
.data_tablea {width: 50%; font-size: 13px; margin: 0 auto 1em; text-align:center; border:1px solid #CCC}
.data_tablea th {background-color: #A2C5D8; padding: 3px}
.data_tablea td {padding: 3px;background-color: #CBD5DC}
.data_tablea .even_row {background-color: #CBD5DC}
.data_tablea tbody tr:hover {background-color: #FFC}
.data_tablea tfoot {border:1px solid #CCC}

.data_tablefile {width: 50%; font-size: 13px; margin: 0 auto 1em; text-align:center; border:1px solid #CCC}
.data_tablefile th {background-color: #A2C5D8; padding: 3px}
.data_tablefile td {padding: 3px;background-color: #CBD5DC}
.data_tablefile .even_row {background-color: #CBD5DC}
.data_tablefile tbody tr:hover {background-color: #FFC}
.data_tablefile tfoot {border:1px solid #CCC}

.data_table_job {width: 90%; font-size: 13px; margin: 0 auto 1em; text-align:center; border:1px solid #CCC}
.data_table_job th {background-color: #A2C5D8; padding: 3px}
.data_table_job td {padding: 3px}
.data_table_job .even_row {background-color: #CBD5DC}
.data_table_job tbody tr:hover {background-color: #FFC}
.data_table_job tfoot {border:1px solid #CCC}

.data_table_dep {width: 95%; font-size: 15px; margin: 0 auto 1em; text-align:center; border:1px solid #CCC}
.data_table_dep th {background-color: #A2C5D8; padding: 3px}
.data_table_dep td {padding: 3px}
.data_table_dep .even_row {background-color: #CBD5DC}
.data_table_dep tbody tr:hover {background-color: #FFC}
.data_table_dep tfoot {border:1px solid #CCC}


.edit_filedown_table {margin:0 1em ; text-align: left}
.edit_filedown_table caption{font-weight: bold; font-size:large}
.edit_filedown_table tfoot{text-align: center}
.edit_filedown_table .left_col {
  background-color: #A2C5D8;
  font-weight: bold;
  padding: 5px;
  text-align: right;
  width: 100px
}


input.DatePicker{
	display: block;
	width: 150px;
	padding: 3px 3px 3px 24px;
	border: 1px solid #0070bf;
	font-size: 13px;
	background: #fff url(date.gif) no-repeat top left;
	cursor: pointer;
}
input:focus.DatePicker{
	background: #fffce9 url(datefocus.gif) no-repeat top left;
}
.dp_container{
	position: relative;
	padding: 0;
	z-index: 500;
}
.dp_cal{
	background-color: #fff;
	border: 1px solid #0070bf;
	position: absolute;
	width: 177px;
	top: 24px;
	left: 0;
	margin: 0px 0px 3px 0px;
}
.dp_cal table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.dp_cal select{
	margin: 2px 3px;
	font-size: 11px;
}
.dp_cal select option{
	padding: 1px 3px;
}
.dp_cal th,
.dp_cal td{
	width: 14.2857%;
	text-align: center;
	font-size: 11px;
	padding: 2px 0;
}
.dp_cal th{
	border: solid #aad4f2;
	border-width: 1px 0;
	color: #797774;
	background: #daf2e6;
	font-weight: bold;
}
.dp_cal td{
	cursor: pointer;
}
.dp_cal thead th{
	background: #d9eefc;
}
.dp_cal td.dp_roll{
	color: #000;
	background: #fff6bf;
}
/* must have this for the IE6 select box hiding */
.dp_hide{
	visibility: hidden;
}
.dp_empty{
	background: #eee;
}
.dp_today{
	background: #daf2e6;
}
.dp_selected{
	color: #fff;
	background: #328dcf;
}


#create_div {margin: 1em}